<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>New Folder</string>
		<string>tenets</string>
		<string>way-of-the-bodhisattva</string>
		<string>work-sex-money</string>
		<string>two</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>New Folder</key>
			<dict>
				<key>lastModification</key>
				<real>527373151.80517799</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>tenets</key>
			<dict>
				<key>lastModification</key>
				<real>527373151.80518699</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>two</key>
			<dict>
				<key>lastModification</key>
				<real>527373151.805188</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>way-of-the-bodhisattva</key>
			<dict>
				<key>lastModification</key>
				<real>527373151.80518699</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>work-sex-money</key>
			<dict>
				<key>lastModification</key>
				<real>527373151.805188</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>12-links.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23230702</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3-scopes.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231298</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Insight (1).md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23230797</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>PURIFICATIONPRAYERS.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231101</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Shamata-laziness.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23230898</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527299020.45597398</real>
				<key>lastModification</key>
				<real>527299020.45597398</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>attitude-of-small-capacity.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231399</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>cultivating-ethical-behavior.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231399</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>essence-of-eloquence.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>future-lives.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>how-to-listen.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23230898</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>karma.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231298</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>lam-rim-advice.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231202</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>precepts-of-refuge.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231202</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>refuge.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231101</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>relying-on-a-teacher.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23231</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>shamata.md</key>
			<dict>
				<key>lastModification</key>
				<real>527299015.23230797</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>12-links.md</string>
		</array>
		<array>
			<string>shamata.md</string>
		</array>
		<array>
			<string>Insight (1).md</string>
		</array>
		<array>
			<string>how-to-listen.md</string>
		</array>
		<array>
			<string>Shamata-laziness.md</string>
		</array>
		<array>
			<string>relying-on-a-teacher.md</string>
		</array>
		<array>
			<string>essence-of-eloquence.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>future-lives.md</string>
		</array>
		<array>
			<string>refuge.md</string>
		</array>
		<array>
			<string>PURIFICATIONPRAYERS.md</string>
		</array>
		<array>
			<string>precepts-of-refuge.md</string>
		</array>
		<array>
			<string>lam-rim-advice.md</string>
		</array>
		<array>
			<string>3-scopes.md</string>
		</array>
		<array>
			<string>karma.md</string>
		</array>
		<array>
			<string>cultivating-ethical-behavior.md</string>
		</array>
		<array>
			<string>attitude-of-small-capacity.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
			<integer>2</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
