<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2-compassion-the-root-of-the-mahayana.md</key>
			<dict>
				<key>lastModification</key>
				<real>527373170.68322498</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3-7-point-cause-effect.md</key>
			<dict>
				<key>lastModification</key>
				<real>527373170.68322599</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>4-exchanging-self-and-others.md</key>
			<dict>
				<key>lastModification</key>
				<real>527373170.683227</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>9. Generosity.md</key>
			<dict>
				<key>lastModification</key>
				<real>527731874.33133501</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>An Introduction To The 6 Perfections.md</key>
			<dict>
				<key>lastModification</key>
				<real>527373206.26633501</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Training in the Mahayana Precepts and Perfections.md</key>
			<dict>
				<key>lastModification</key>
				<real>527556674.18466198</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>stages-of-person-of-great-capacity.md</key>
			<dict>
				<key>lastModification</key>
				<real>527373170.68322599</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>527373161.13827997</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>9. Generosity.md</string>
		</array>
		<array>
			<string>Training in the Mahayana Precepts and Perfections.md</string>
		</array>
		<array>
			<string>An Introduction To The 6 Perfections.md</string>
		</array>
		<array>
			<string>2-compassion-the-root-of-the-mahayana.md</string>
		</array>
		<array>
			<string>stages-of-person-of-great-capacity.md</string>
		</array>
		<array>
			<string>3-7-point-cause-effect.md</string>
		</array>
		<array>
			<string>4-exchanging-self-and-others.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
			<integer>12</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
