<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>.New Filter.Ulysses_Public_Filter</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>.New Filter.Ulysses_Public_Filter</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527814494.37834799</real>
				<key>lastModification</key>
				<real>527814494.37834799</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>1-stages-of-person-of-great-capacity.md</key>
			<dict>
				<key>lastModification</key>
				<real>527907598.77322102</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>10. How to Give.md</key>
			<dict>
				<key>lastModification</key>
				<real>527814597.70870298</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>11-The Perfection of Ethical Discipline.md</key>
			<dict>
				<key>lastModification</key>
				<real>527980889.44467998</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>2-compassion-the-root-of-the-mahayana.md</key>
			<dict>
				<key>lastModification</key>
				<real>527373170.68322498</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3-7-point-cause-effect.md</key>
			<dict>
				<key>lastModification</key>
				<real>527373170.68322599</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>4-exchanging-self-and-others.md</key>
			<dict>
				<key>lastModification</key>
				<real>527373170.683227</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>5-The Ritual For Adopting the Spirit of Enlightenment.md</key>
			<dict>
				<key>lastModification</key>
				<real>527907951.16276199</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>6-Maintaining the Spirit of Enlightenment.md</key>
			<dict>
				<key>lastModification</key>
				<real>527908102.36558598</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>7. An Introduction To The 6 Perfections.md</key>
			<dict>
				<key>lastModification</key>
				<real>527907872.958</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>8-Training in the Mahayana Precepts and Perfections.md</key>
			<dict>
				<key>lastModification</key>
				<real>527907802.70787102</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>9. Generosity.md</key>
			<dict>
				<key>lastModification</key>
				<real>527814576.50732398</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>on.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527979577.92592102</real>
				<key>lastModification</key>
				<real>527979577.92592102</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>u@- Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527980896.39898503</real>
				<key>lastModification</key>
				<real>527980896.39898503</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>55</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>527373161.13827997</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>on.md</string>
		</array>
		<array>
			<string>11-The Perfection of Ethical Discipline.md</string>
			<string>u@- Untitled.md</string>
		</array>
		<array>
			<string>6-Maintaining the Spirit of Enlightenment.md</string>
		</array>
		<array>
			<string>5-The Ritual For Adopting the Spirit of Enlightenment.md</string>
		</array>
		<array>
			<string>9. Generosity.md</string>
			<string>10. How to Give.md</string>
		</array>
		<array>
			<string>8-Training in the Mahayana Precepts and Perfections.md</string>
		</array>
		<array>
			<string>7. An Introduction To The 6 Perfections.md</string>
		</array>
		<array>
			<string>2-compassion-the-root-of-the-mahayana.md</string>
		</array>
		<array>
			<string>1-stages-of-person-of-great-capacity.md</string>
		</array>
		<array>
			<string>3-7-point-cause-effect.md</string>
		</array>
		<array>
			<string>4-exchanging-self-and-others.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
			<integer>55</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
