<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>31.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527369214.29163897</real>
				<key>lastModification</key>
				<real>527369214.29163897</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>MSB Shedra - Wisdom Chapter.md</key>
			<dict>
				<key>lastModification</key>
				<real>527359244.56532001</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>527369217.66979098</real>
				<key>lastModification</key>
				<real>527369217.66979098</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>meditation-174-180.md</key>
			<dict>
				<key>lastModification</key>
				<real>527358179.79477</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>meditation.md</key>
			<dict>
				<key>lastModification</key>
				<real>527358179.79477</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>wisdom.md</key>
			<dict>
				<key>lastModification</key>
				<real>527358179.79477102</real>
				<key>version</key>
				<dict>
					<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>MSB Shedra - Wisdom Chapter.md</string>
			<string>31.md</string>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>meditation-174-180.md</string>
		</array>
		<array>
			<string>meditation.md</string>
		</array>
		<array>
			<string>wisdom.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>988eaffbc448b58fcd7082d30992e3a83fe08b8d121842167723bc56581c112e</key>
			<integer>25</integer>
		</dict>
	</dict>
</dict>
</plist>
